
#jslghtbx{
    z-index: 30;
    padding-top: 10px !important;
}
#jslghtbx img {
    margin-top: 0 !important;
    max-width: 100%;
    height: auto;
}
.jslghtbx-animate, .jslghtbx-animate-transition, .jslghtbx-animate-init {
}
.jslghtbx-wrapper-active {
}
.jslghtbx-contentwrapper {
    background-color: $bg-darkest;
    position: absolute;
    width: 100%;
}
.jslghtbx-contentwrapper img {
    max-height: 670px !important;
}
.jslghtbx-caption {
    text-align: left !important;
    padding: 5px;
    margin-bottom: 30px !important;
    color: lightslategray !important;
}
.jslghtbx-caption a {
    display: block;
    padding: 20px 7%;
    font-size: 1em;
}
.jslghtbx-caption .band-list ul a {
    font-size: large;
}
.jslghtbx-caption .band-list ul a:hover {
    background-color: #4d7fc7;
    opacity: .5;
}
.jslghtbx-caption img {
    padding: 4px;
}
.jslghtbx-close {
    font-size: 3em !important;
    font-weight: 600;
    text-shadow: 2px 3px 3px black !important;
}
.jslghtbx.jslghtbx-active {
    background-color: rgba(0, 0, 0, 1) !important;
}
.jslghtbx-loading-animation > span:nth-child(1) {
    background-color: magenta !important;
}
.jslghtbx-loading-animation > span:nth-child(2) {
    background-color: lime !important;
}
.jslghtbx-loading-animation > span:nth-child(3) {
    background-color: #1fb0f5 !important;
}
.jslghtbx-loading-animation > span:nth-child(4) {
    background-color: gold !important;
}
.jslghtbx-loading-animation > span:nth-child(5) {
    background-color: royalblue !important;
}
.jslghtbx-loading-animation > span:nth-child(6) {
    background-color: red !important;
}
.jslghtbx-loading-animation > span:nth-child(7) {
    background-color: yellow !important;
}
@media only screen and (min-device-height: $tablet) and (orientation: portrait) {
    #jslghtbx {
        padding-top: 10px !important;
    }
    .jslghtbx-contentwrapper img {
        max-height: ($tablet * 1.2) !important;
    }
}
@media only screen and (min-device-height: $laptop) {
    #jslghtbx {
        padding-top: 10px !important;
    }
}
/*
@media only screen and (min-device-width: 960px) and (orientation: landscape) {
    #jslghtbx img:nth-child(1) {
        margin: 0 46% 0 auto;
        max-width: 52% !important;
    }
    #jslghtbx .links img {
        margin: 0;
    }
    .jslghtbx-caption {
        position: absolute;
        top: 10%;
        left: 60%;
        width: 37% !important;
    }
}
*/
