.hamburger:before {
    content: '≣';
    font-size: 38px;
    color: white;
    opacity: .4;
}
.jPanelMenu-panel .hamburger {
    text-align: center;
    font-size: 0.7em;
}
.hamburger {
    position: fixed;
    width: ($header-height + 30);
    height: ($header-height + 30);
    padding: 0 0 0 18px;
}
.menu-trigger {
    height: ($header-height + 20);
    width: ($header-height + 30);
    padding: 0 17px 0 0;
}
a.menu-trigger.hamburger:hover {
    text-decoration: none;
}
#panel {
    position: relative;
    top: -60px;
//    z-index: 99;
}
.jPanelMenu-panel {
    position: fixed !important;
    min-height: initial !important;
    width: auto !important;
    background: transparent !important;
}
#menu {
    display: none;
}
nav#jPanelMenu-menu {
    background: $bg-darkest;
    padding-bottom: 30px;
}
#jPanelMenu-menu ul {
    will-change: scroll-position;
}
#jPanelMenu-menu .menu-item.home {
  margin-left: ($header-height + 30);
}
#jPanelMenu-menu a {
    display: block;
    padding: 20px 4em;
    color: white;
    text-decoration: none;
    font-weight: 900;
}
#jPanelMenu-menu a:hover {
    color: $gold;
}
li#menu-header {
  padding: 0 0 0 18px;
  position: fixed;
}
/*
#menu-header {
    font-size: 2.2em;
    line-height: 1em;
    padding: 3px 0 0 17px;
    height: 60px;
    opacity: 0.6;
    width: 100%
}
#menu-header:hover {
    background-color: inherit;
}
@media only screen and (min-device-width: $tablet){
    #menu-header {
        padding-top: 18px;
    }

}
*/
