#menu-panel {
    position: fixed;
    top: $header-height;
    right: 100%;
    border-spacing:0;
    z-index: 20;
}
#menu-panel a {
    display: block;
    padding: 25px 5em 25px 9em;
}
#menu-panel a:hover {
    background-color: $gold;
}
#menu-panel td {
}
#menu-panel a {
    color: white;
    text-decoration: none;
    font-weight: 900;
    font-family: 'Arial';
}
@media only screen and (min-device-height: 640px) and (orientation: portrait){
    .menu-trigger {
        position: fixed;
    }
}
@media only screen and (min-device-width: 768px) and (orientation: landscape){
    .menu-trigger {
        position: fixed;
    }
}
.hamburger:after {
    content: '≣';
    position: fixed;
    top: -4px;
    width: $header-height;
    height: $header-height;
    padding: 0 0 0 10px;
    font-size: 3.2em;
    color: white;
    opacity: 0.7;
    z-index: 25;
}

