#panel {
    position: fixed;
    z-index: 99;
}
.jPanelMenu #menu {
    display: none;
}
.jPanelMenu-panel {
}
#jPanelMenu-menu {
    //top: 50px !important;
    background: $bg-darkest;
    height: auto !important;
}
#jPanelMenu-menu a:hover {
    color: $gold;
}
#jPanelMenu-menu a {
    display: block;
    padding: 20px 7em 20px 5em;
    color: white;
    text-decoration: none;
    font-weight: 900;
    font-family: 'Arial';
}
.menu-trigger {
    position: fixed;
    top: -60px;
    /*left: -250px;*/
    /*width: 310px;*/
    height: $header-height;
    width: $header-height;
    text-align: center;
    padding: 10px
//    display: block;
}
#menu-header {
    font-size: 2.2em;
    line-height: 1em;
    padding: 12px 0 0 17px;
    float: left;
    height: 60px;
    opacity: 0.6;
    width: 100%
}
#menu-header:hover {
    background-color: inherit;
}
.hamburger:before {
    content: '≣';
    font-size: 36px;
    color: white;
    opacity: .4;
}

