/* COLORS */
$alert: crimson;

$black: #000;
$white: #d0e9ff;
$red: #A00;
$lt-red: #F00;
$light-red: #F00;
$dk-red: #600;
$dark-red: #600;
$bright-blue: deepskyblue;
$lt-blue: cornflowerblue;
$light-blue: cornflowerblue;
$blue: #3360a0;
$dk-blue: #102542;
$dark-blue: #051a29;
$deep-blue: #0e2542;
$gold: #ea3;

$bg-darkest: $black;
$bg-darker: $black;
$bg-dark: $dk-blue;
$bg-light: $blue;
$bg-lighter: $lt-blue;
$bg-lightest: $lt-blue;
$bg-bright: $bright-blue;

$fg-darkest: $black;
$fg-darker: $black;
$fg-dark: $dk-blue;
$fg-light: $blue;
$fg-lighter: $lt-blue;
$fg-lightest: $lt-blue;
$fg-bright: $bright-blue;

$bg-2: $black;
$bg-1: $deep-blue;
$bg0: $dark-blue;
$bg1: $blue;
$bg2: $light-blue;
$bgb: $bright-blue;

$fg-2: $gold;
$fg-1: $gold;
$fg0: $gold;
$fg1: $gold;
$fg2: $white;
$fgb: $gold;


$text-light: $white;
$text-dark: $black;

$link-light: lightskyblue;

$HighlightColor: #C1CB38;
$LinkColor: #0000FF;

/* COMMON SIZES */

$phone: 320px;
$phone-landscape: 480px;
$big-phone: 640px;
$big-phone-landscape: 736px;
$tablet: 768px;
$tablet-landscape: 1024px;
$laptop: 1024px;

$header-height: 60px;

/* FONT STACKS */
@font-face {
    font-family: 'AlegreyaSans';
    src: url('fonts/AlegreyaSans-Medium.woff');
}
$SansStack: 'AlegreyaSans', Arial, sans-serif;
/*$SansStack: Arial, sans-serif;*/
$SansAltStack: 'Helvetica Neue', Helvetica, sans-serif;
$SerifStack: Georgia, Serif;

@mixin Html {
    background-color: $bg-darkest;
}

@mixin Body {
	color: $text-light;
    background-color: $bg-darkest;
	font-family: $SansStack;
	font-weight: normal;
    font-size: 110%;
}
@mixin Links {
    color: lightskyblue;
}

.alert {
    background-color: $alert;
    color: black;
}
.spinner {
    background-image: url('../img/spinner.gif');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 128px;
    min-width: 128px;
    margin: auto;

}

