
/* imports */
@import 'theme';


#home iframe {
    display: none;
}
#home .pages {
    display: none;
}
#home .poster-img {
    display: block;
    margin: 0 auto 50px;
}
#home .top-message {
    font-size: 1.1rem;
    color: skyblue;
    font-weight: 100;
    margin: 0 auto;
    padding-bottom: 2px;
}
#home .scrollbox {
    width: 100%;
    height: 100%;
}
#home .scroller {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    margin: 0 auto;
}
.new-day {
    flex: 1 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 0 0 4px;
    background-color: $bg-2;
    background-image: linear-gradient($bg-1, $bg-2);
    color: $blue;
}
.new-day .day {
    flex: 1 0 20px;
    font-size: 1em;
    font-weight: 600;
    line-height: 1em;
}
.new-day .date {
    flex: 0 1 15px;
    padding-right: 10px;
    font-size: .7em;
    font-weight: 600;
    text-shadow: #200 2px 1px;
    line-height: .5em;
}
.news {
    background-color: $bg-darkest;
}
.news .content {
    margin-bottom: 18px;
}
.news .content p {
    margin-bottom: 18px;
    font-size: smaller;
    font-family: sans-serif;
    font-weight: 100;
}
.news .item {
    color: $text-light;
    background-color: $bg-darkest;
    padding: 10px 5px;
}
.news .item img {
    display: inline;
    float: right;
	padding: 26px 2% 4px 2%;
}
hr {
    border-color: $bg-light;
}
.event .info {
    position: absolute;
    right: 3px;
    bottom: 0;
    padding: 0 0 0 12px;
    font-size: 1em;
    text-align: right;
    opacity: .7;
}
.event .item {
    flex: 0 0 90px;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    background-color: $bg-darker;
    border-top: black solid 2px;
    color: $text-light;
    overflow: hidden;
    height: 90px;
}
.event .thumbnail {
    flex: 0 0 90px;
    display: flex;
    align-items: center;
    background-color: #1b2127;
}
.event .thumbnail img {
    display: block;
    width: 90px;
    height: auto;
    opacity: .7;
}
.event .content {
    flex: 1 1 0%;
    position: relative;
    font-size: .8em;
    padding: 0 2%;
    background-image: linear-gradient($bg-2, $bg-1)
}
.details .label {
    font-size: smaller;
    color: $bright-blue;
}
.event .content h3 {
    font-size: 1.1em;
    color: $bright-blue;
}
.event .content h4 {
    font-size: .8em;
    color: sienna;
}
.event .content li {
    line-height: 1em;
}
/*.event .title {*/
    /*text-align: center;*/
    /*font-weight: 600;*/
    /*font-size: 1.1em;*/
	/*line-height: .9em;*/
    /*padding-top: 2px;*/
/*}*/
span.host:nth-child(1) {
    color: magenta;
}
span.host:nth-child(2) {
    color: lightsalmon;
}
span.host:nth-child(3) {
    color: limegreen;
}
span.host:nth-child(4) {
    color: mediumpurple;
}
/*
@media only screen and (min-device-height: $big-phone) and (orientation: portrait){
    #home .top-message {
        padding: 20px 0;
    }
}
@media only screen and (min-device-width: $tablet) and (orientation: landscape){
    #home .pages {
        display: flex;
        flex-direction: column;
        flex: 0 0 59%;
        padding: 3%;
        opacity: 0.88;
        background: #000;
    }
    #home .page {
        flex: 1 0 0%;
        margin: 0 auto;
    }
}
@media only screen and (min-device-height: $big-phone) and (orientation: portrait){
    #home .scrollbox {
        overflow-y: auto;
    }
}
@media only screen and (min-device-height: $tablet) {
    #home .post {
        flex: 1 0 120px;
    }
}
@media only screen and (min-device-width: $big-phone){
    #home .post-thumbnail img {
        max-width: 120px;
    }
}
@media only screen and (min-device-width: $tablet) and (orientation: landscape){
    #home .scrollbox {
        flex: 1 1 420px;
        padding-top: 0;
        overflow-y: auto;
    }
}
@media only screen and (min-device-width: $tablet) and (orientation: landscape){
    #home iframe {
        display: block;
    }
}
@media only screen and (max-device-width: $big-phone){
    #home .jslghtbx-caption iframe {
        width: 340px !important;
        height: 565px !important;
        margin: 0 auto;
        position: relative;
        left: -17px;
    }
}
@media only screen and (min-device-width: $big-phone) {
    .event-item {
        height: 120px;
    }
}
@media only screen and (min-device-height: $tablet) and (orientation: portrait){
    .event-title {
        line-height: 1.1em;
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

*/
