/* imports */
/* COLORS */
/* COMMON SIZES */
/* FONT STACKS */
/* line 87, _theme.scss */
.alert {
  background-color: crimson;
  color: black;
}

/* line 91, _theme.scss */
.spinner {
  background-image: url("../img/spinner.gif");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 128px;
  min-width: 128px;
  margin: auto;
}

/* line 4, home.scss */
#home iframe {
  display: none;
}

/* line 7, home.scss */
#home .pages {
  display: none;
}

/* line 10, home.scss */
#home .poster-img {
  display: block;
  margin: 0 auto 50px;
}

/* line 14, home.scss */
#home .top-message {
  font-size: 1.1rem;
  color: skyblue;
  font-weight: 100;
  margin: 0 auto;
  padding-bottom: 2px;
}

/* line 21, home.scss */
#home .scrollbox {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0 0 240px 0;
}

/* line 27, home.scss */
#home .scroller {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 650px;
  margin: 0 auto;
  will-change: scroll-position;
}

/* line 34, home.scss */
hr {
  border-color: #275392;
}

/*News*/
/* line 39, home.scss */
.news {
  background-color: #000;
}

/* line 42, home.scss */
.news .content {
  margin-bottom: 18px;
}

/* line 45, home.scss */
.news .content p {
  margin-bottom: 18px;
  font-size: smaller;
}

/* line 49, home.scss */
.news .item {
  color: #d0e9ff;
  background-color: #000;
  padding: 10px 5px;
}

/* line 54, home.scss */
.news .item img {
  display: inline;
  float: right;
  padding: 26px 2% 4px 2%;
}

/*New Day*/
/* line 61, home.scss */
.new-day {
  -webkit-flex: 1 0 40px;
      -ms-flex: 1 0 40px;
          flex: 1 0 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding: 10px 0 0 4px;
  background-color: #000;
  background-image: linear-gradient(#082032, #000);
  color: #275392;
  border-top: 1px solid #00F;
}

/* line 73, home.scss */
.new-day .day {
  -webkit-flex: 1 0 20px;
      -ms-flex: 1 0 20px;
          flex: 1 0 20px;
  font-size: 1em;
  font-weight: 600;
  line-height: 1em;
}

/* line 79, home.scss */
.new-day .date {
  -webkit-flex: 0 1 15px;
      -ms-flex: 0 1 15px;
          flex: 0 1 15px;
  padding-right: 10px;
  font-size: .7em;
  font-weight: 600;
  text-shadow: #200 2px 1px;
  line-height: .7em;
}

/*Events*/
/* line 89, home.scss */
.event .info {
  position: absolute;
  right: 3px;
  bottom: 0;
  padding: 0 0 0 12px;
  font-size: 1em;
  text-align: right;
  color: #d0e9ff;
  opacity: .7;
}

/* line 99, home.scss */
.event .item {
  -webkit-flex: 0 0 90px;
      -ms-flex: 0 0 90px;
          flex: 0 0 90px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-y: hidden;
  background-color: #000;
  border-top: black solid 2px;
  /*color: $text-light;*/
  color: #ecdfda;
  overflow: hidden;
  height: 90px;
}

/* line 111, home.scss */
.event .thumbnail {
  -webkit-flex: 0 0 90px;
      -ms-flex: 0 0 90px;
          flex: 0 0 90px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1b2127;
}

/* line 117, home.scss */
.event .thumbnail img {
  display: block;
  width: 90px;
  height: auto;
  opacity: .7;
}

/* line 123, home.scss */
.event .content {
  -webkit-flex: 1 1 0%;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  position: relative;
  font-size: .8em;
  padding: 0 2%;
  background-image: linear-gradient(#000, #082032);
}

/* line 130, home.scss */
span.label {
  font-size: smaller;
  color: deepskyblue;
}

/* line 134, home.scss */
.event .content h3 {
  font-size: 1.2em;
  color: deepskyblue;
}

/* line 138, home.scss */
.event .content h4 {
  font-size: smaller;
  color: yellowgreen;
}

/* line 142, home.scss */
.event .content li {
  line-height: 1em;
}

/* line 145, home.scss */
.event-details {
  color: deeppink;
}

/* line 148, home.scss */
.event-url {
  font-weight: 600;
  padding: 25px 0;
  display: block;
}

/* line 153, home.scss */
.who, .band-list {
  font-size: .9em;
  padding-top: 7px;
}

/* line 157, home.scss */
.band-list li, .band-list a {
  color: #ef5eef;
}

/* line 160, home.scss */
.promoter, .promoter a {
  color: mediumslateblue !important;
}

/* line 163, home.scss */
.more {
  color: aqua;
}

/*.event .title {*/
/*text-align: center;*/
/*font-weight: 600;*/
/*font-size: 1.1em;*/
/*line-height: .9em;*/
/*padding-top: 2px;*/
/*}*/
/* line 173, home.scss */
.content .who span:nth-child(2) {
  color: magenta;
}

/* line 176, home.scss */
.content .who span:nth-child(3) {
  color: lightsalmon;
}

/* line 179, home.scss */
.content .who span:nth-child(4) {
  color: limegreen;
}

/* line 182, home.scss */
.content .who span:nth-child(5) {
  color: mediumpurple;
}

/*Media Queries*/
@media only screen and (min-device-width: 768px) {
  /* line 189, home.scss */
  .news .postcard h3 {
    font-size: 1em;
  }

  /* line 192, home.scss */
  .news .content {
    width: 80%;
    margin: 0 auto;
  }

  /* line 196, home.scss */
  .event .item {
    height: 120px;
  }

  /* line 199, home.scss */
  .event .thumbnail img {
    width: 120px;
  }

  /* line 202, home.scss */
  .event .content h3 {
    font-size: 1.5em;
  }

  /* line 205, home.scss */
  .event .content li {
    font-size: 1.2em;
  }

  /* line 209, home.scss */
  .who, .band-list {
    padding-left: 5%;
    font-size: 1em;
  }
}
/* line 214, home.scss */
.pages h1,
.pages h2,
.pages h3,
.pages h4,
.pages h5,
.pages h6 {
  margin: 15px 0;
}

/* line 223, home.scss */
.pages {
  background: #000;
  color: floralwhite;
  position: relative;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

/* line 231, home.scss */
.wp-page {
  -webkit-flex: 0 1 30%;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  display: block;
  margin: 10px auto 30px;
  font-size: .9em;
}

/* line 237, home.scss */
.jslghtbx-contentwrapper .pages {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-device-width: 768px) and (orientation: landscape) {
  /* line 242, home.scss */
  #home iframe {
    display: block;
  }

  /* line 245, home.scss */
  #home .pages {
    -webkit-flex: 0 0 59%;
        -ms-flex: 0 0 59%;
            flex: 0 0 59%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 11% 100px;
  }

  /* line 251, home.scss */
  #home .page {
    -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    margin: 0 auto;
  }

  /* line 255, home.scss */
  #home .scrollbox {
    -webkit-flex: 1 1 420px;
        -ms-flex: 1 1 420px;
            flex: 1 1 420px;
  }

  /* line 258, home.scss */
  .news .content {
    width: 100% !important;
  }
}
@media only screen and (min-device-width: 768px) and (orientation: landscape) {
  /* line 263, home.scss */
  #home.pg-frame {
    background-color: transparent;
    background-image: url("/wp/wp-content/uploads/2016/07/logo.svg");
    background-position-x: 10%;
    background-position-y: 70%;
    background-size: 49%;
    background-repeat: no-repeat;
  }

  /* line 271, home.scss */
  #home.page-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
    position: fixed;
  }
}
/*
@media only screen and (min-device-height: $tablet) {
    #home .post {
        flex: 1 0 120px;
    }
}
@media only screen and (min-device-height: $big-phone) and (orientation: portrait){
    #home .scrollbox {
        overflow-y: auto;
    }
    .event-title {
        line-height: 1.1em;
        padding-top: 4px;
        padding-bottom: 4px;
    }
}
@media only screen and (min-device-width: $big-phone){
    #home .post-thumbnail img {
        max-width: 120px;
    }
    .event-item {
        height: 120px;
    }
}
@media only screen and (max-device-width: $big-phone){
    #home .jslghtbx-caption iframe {
        width: 340px !important;
        height: 565px !important;
        margin: 0 auto;
        position: relative;
        left: -17px;
    }
}
@media only screen and (min-device-height: $big-phone) and (orientation: portrait){
    #home .top-message {
        padding: 20px 0;
    }
}

*/
/* line 320, home.scss */
.social-buttons {
  position: absolute;
  min-width: 222px;
  padding-top: 5px;
}

/* line 325, home.scss */
.facebook-button, .twitter-button, .tumblr-button {
  display: inline-block;
  overflow: hidden;
  min-width: 60px;
  height: 60px;
  vertical-align: bottom;
  text-align: center;
}

/* line 333, home.scss */
.facebook-button {
  margin: -2px 4px 0 4px;
}

/* line 336, home.scss */
.twitter-button {
  margin: 0 4px;
}

/* line 339, home.scss */
.tumblr-button {
  margin: 0 4px;
}
