@import 'theme';
#home .pages {
    display: none;
}
@media only screen and (min-device-width: $tablet) and (orientation: landscape){
    #home .pages {
        display: flex;
        flex-flow: column;
        flex: 0 0 59%;
        padding: 3%;
        opacity: 0.88;
        background: #000;
    }
    #home .page {
        flex: 1 0 0%;
        margin: 0 auto;
    }
}
#home .poster-img {
    display: block;
    margin: 0 auto 50px;
}

#home .top-message {
    font-size: 1.1rem;
    color: skyblue;
    font-weight: 100;
    margin: 0 auto;
    padding-bottom: 2px;
}
@media only screen and (min-device-height: $big-phone) and (orientation: portrait){
    #home .top-message {
        padding: 20px 0;
    }
}
#home .scrollbox {
    width: 100%;
    height: 100%;
}
@media only screen and (min-device-height: $big-phone) and (orientation: portrait){
    #home .scrollbox {
        overflow-y: auto;
    }
}
@media only screen and (min-device-width: $tablet) and (orientation: landscape){
    #home .scrollbox {
        flex: 1 1 420px;
        padding-top: 0;
        overflow-y: auto;
    }
}
#home .scroller {
    display: flex;
    flex-flow: column;
    max-width: 650px;
    margin: 0 auto;
    padding-bottom: 90px;
}
#home .new-day {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 100%;
    height: 42px;
    background-color: $bg-dark;
}
#home .post-day {
    flex: 0 1 0%;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
}
#home .post-date {
    flex: 1 0 auto;
    padding-right: 10px;
    font-size: 1.2em;
    color: $bg-light;
    text-shadow: #200 2px 1px;
    line-height: .4em;
}
#home .post {
}
@media only screen and (min-device-height: $tablet) {
    #home .post {
        flex: 1 0 120px;
    }
}
#home .post-thumbnail img {
    display: block;
    max-width: 90px;
    height: auto;
}
@media only screen and (min-device-width: $big-phone){
    #home .post-thumbnail img {
        max-width: 120px;
    }
}
.news-box {
    background-color: $bg-darkest;
}
.news-content {
    margin-bottom: 18px;
}
.news-item {
    color: $text-light;
    background-color: $bg-darkest;
    padding: 10px 5px;
}
.news-item img {
    display: inline;
    float: right;
	padding: 26px 2% 4px 2%;
}
hr {
    border-color: $dk-red;
}
.event-info-box {
    position: relative;
}
.event-title {
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
}
.event-content {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 4px;
}
.event-start-time {
    position: absolute;
    right: 0;
    bottom: 0;
    background: $bg-darker;
    padding: 0 0 0 12px;
    font-size: .8em;

}
.event-item {
    display: flex;
    flex-flow: row;
    overflow-y: hidden;
    height:90px;
    background-color: $bg-darker;
    color: $text-light;
    border-bottom: 1px solid $bg-light;
    margin: 0 auto;
}
@media only screen and (min-device-width: $big-phone) {
    .event-item {
        height: 120px;
    }
}
.event-item:hover {
    background-color: #036;
}
.event-info-box{
    flex-flow: column;
    flex: 1 0 0%;
    padding: 4px;
}
.event-title {
	line-height: .9em;
    padding-top: 2px;
}
@media only screen and (min-device-height: $tablet) and (orientation: portrait){
    .event-title {
        line-height: 1.1em;
        padding-top: 4px;
        padding-bottom: 4px;
    }
}
.event-content {
    flex-flow: column;
    font-size: .8em;
}
.event-content h3 {
    margin: 0 0 5px;
    font-size: 1.5em;
}
.event-content ul {
    margin: 0;
    padding: 0;
}
.event-content li {
    padding: 0 0 3px;
    line-height: 1em;
}
span.host:nth-child(1) {
    color: magenta;
}
span.host:nth-child(2) {
    color: lightsalmon;
}
span.host:nth-child(3) {
    color: limegreen;
}
span.host:nth-child(4) {
    color: mediumpurple;
}
#home iframe {
    display: none;
}
@media only screen and (min-device-width: $tablet) and (orientation: landscape){
    #home iframe {
        display: block;
    }
}
@media only screen and (max-device-width: $big-phone){
    #home .jslghtbx-caption iframe {
        width: 340px !important;
        height: 565px !important;
        margin: 0 auto;
        position: relative;
        left: -17px;
    }
}
