/* imports */
@import 'theme';

#home iframe {
    display: none;
}
#home .pages {
    display: none;
}
#home .poster-img {
    display: block;
    margin: 0 auto 50px;
}
#home .top-message {
    font-size: 1.1rem;
    color: skyblue;
    font-weight: 100;
    margin: 0 auto;
    padding-bottom: 2px;
}
#home .scrollbox {
    width: 100%;
    height: 100%;
}
#home .scroller {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    margin: 0 auto;
    will-change: scroll-position;
}
hr {
    border-color: $bg-light;
}

/*News*/
.news {
    background-color: $bg-darkest;
}
.news .content {
    margin-bottom: 18px;
}
.news .content p {
    margin-bottom: 18px;
    font-size: smaller;
}
.news .item {
    color: $text-light;
    background-color: $bg-darkest;
    padding: 10px 5px;
}
.news .item img {
    display: inline;
    float: right;
	padding: 26px 2% 4px 2%;
}

/*New Day*/
.new-day {
    flex: 1 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 0 0 4px;
    background-color: $bg-2;
    background-image: linear-gradient($bg-1, $bg-2);
    color: $blue;
}
.new-day .day {
    flex: 1 0 20px;
    font-size: 1em;
    font-weight: 600;
    line-height: 1em;
}
.new-day .date {
    flex: 0 1 15px;
    padding-right: 10px;
    font-size: .7em;
    font-weight: 600;
    text-shadow: #200 2px 1px;
    line-height: .7em;
}

/*Events*/
.event .info {
    position: absolute;
    right: 3px;
    bottom: 0;
    padding: 0 0 0 12px;
    font-size: 1em;
    text-align: right;
    color: $fg2;
    opacity: .7;
}
.event .item {
    flex: 0 0 90px;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    background-color: $bg-darker;
    border-top: black solid 2px;
    /*color: $text-light;*/
    color: #ecdfda;
    overflow: hidden;
    height: 90px;
}
.event .thumbnail {
    flex: 0 0 90px;
    display: flex;
    align-items: center;
    background-color: #1b2127;
}
.event .thumbnail img {
    display: block;
    width: 90px;
    height: auto;
    opacity: .7;
}
.event .content {
    flex: 1 1 0%;
    position: relative;
    font-size: .8em;
    padding: 0 2%;
    background-image: linear-gradient($bg-2, $bg-1)
}
span.label {
    font-size: smaller;
    color: $bright-blue;
}
.event .content h3 {
    font-size: 1.1em;
    color: $bright-blue;
}
.event .content h4 {
    font-size: smaller;
    color: yellowgreen;
}
.event .content li {
    line-height: 1em;
}
.event-details {
    color: deeppink;
}
.event-url {
    font-weight: 600;
    padding: 25px 0;
    display: block;
}
.who, .band-list {
    font-size: .9em;
    padding-top: 7px;
}
.band-list li, .band-list a {
    color: #ef5eef;
}
.promoter, .promoter a {
    color: mediumslateblue !important;
}
.more {
    color: aqua;
}
/*.event .title {*/
    /*text-align: center;*/
    /*font-weight: 600;*/
    /*font-size: 1.1em;*/
	/*line-height: .9em;*/
    /*padding-top: 2px;*/
/*}*/
span.host:nth-child(1) {
    color: magenta;
}
span.host:nth-child(2) {
    color: lightsalmon;
}
span.host:nth-child(3) {
    color: limegreen;
}
span.host:nth-child(4) {
    color: mediumpurple;
}

/*Media Queries*/

@media only screen and (min-device-width: $tablet) {
    .news .postcard h3 {
        font-size: 1em;
    }
    .news .content {
        width: 80%;
        margin: 0 auto;
    }
    .event .item {
        height: 120px;
    }
    .event .thumbnail img {
        width: 120px;
    }
    .event .content h3 {
      font-size: 1.5em;
  }
    .event .content li {
        font-size: 1.2em;

    }
    .who, .band-list {
        padding-left: 5%;
        font-size: 1em;
    }
}
@media only screen and (min-device-width: $tablet) and (orientation: landscape){
    #home iframe {
        display: block;
    }
    #home .pages {
        display: flex;
        flex-direction: column;
        flex: 0 0 59%;
        padding: 3%;
        opacity: 0.88;
        background: #000;
    }
    #home .page {
        flex: 1 0 0%;
        margin: 0 auto;
    }
    #home .scrollbox {
        flex: 1 1 420px;
        padding-top: 0;
        overflow-y: auto;
    }
    .news .content {
        width: 100% !important;
    }
}
@media only screen and (min-device-width: $tablet) and (orientation: landscape){
    #home.pg-frame {
        background-color: transparent;
        background-image: url('/wp/wp-content/uploads/2016/07/logo.svg');
        background-position-x: 10%;
        background-position-y: 70%;
        background-size: 49%;
        background-repeat: no-repeat;
    }
    #home.page-content {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        max-width: 100%;
        position: fixed;
    }
}
/*
@media only screen and (min-device-height: $tablet) {
    #home .post {
        flex: 1 0 120px;
    }
}
@media only screen and (min-device-height: $big-phone) and (orientation: portrait){
    #home .scrollbox {
        overflow-y: auto;
    }
    .event-title {
        line-height: 1.1em;
        padding-top: 4px;
        padding-bottom: 4px;
    }
}
@media only screen and (min-device-width: $big-phone){
    #home .post-thumbnail img {
        max-width: 120px;
    }
    .event-item {
        height: 120px;
    }
}
@media only screen and (max-device-width: $big-phone){
    #home .jslghtbx-caption iframe {
        width: 340px !important;
        height: 565px !important;
        margin: 0 auto;
        position: relative;
        left: -17px;
    }
}
@media only screen and (min-device-height: $big-phone) and (orientation: portrait){
    #home .top-message {
        padding: 20px 0;
    }
}

*/

.social-buttons {
    position: absolute;
    min-width: 222px;
    padding-top: 5px;
}
.facebook-button, .twitter-button, .tumblr-button {
    display: inline-block;
    overflow: hidden;
    min-width: 60px;
    height: 60px;
    vertical-align: bottom;
    text-align: center;
}
.facebook-button {
    margin: -2px 4px 0 4px;
}
.twitter-button {
    margin: 0 4px;
}
.tumblr-button {
    margin: 0 4px;
}
