@import 'theme';
@import 'menu';
@import 'jslghtbx';

.pg-frame {
    width: 100%;
    height: 100%;
    background: black;
}

//HEADER

.site-header {
    height: $header-height;
    background: url('../../_/img/patio-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 20;
    border-bottom: 6px #600 solid;
}
.site-title {
    padding-top: 4px;
    margin: auto;
    text-align: center;
    /*font-size: 1.5em;*/
    font-size: 3em;
    line-height: 1em;
	font-weight: 900;
    color: #000;
    text-shadow: #1570bf 2px 3px;

}
.site-subtitle {
    display: none;
    text-align: center;
    font-size: 1em;
    margin: 0;
    font-weight: 100;
    color: #4c95e6;
}
.logo {
    position: absolute;
    right: 0;
    top: 0;
}
.logo img {
    height: $header-height;
    width: auto;
}

// CONTENT

.page-content {
    width: 100%;
    max-width: 1000px;
    padding: 0px 2px;
    margin: 0 auto;
    height: 100%;
    background: $bg-darkest
}
/* set these for every generic wp-page*/
.wp-page {
    margin: 25px auto;
}
.wp-page img {
    max-width: 100%;
    height: auto;
}
.header {
    position: relative;
}
.header-psa {
    position: fixed;
    top: $header-height;
    font-size: 1.5em;
    background-color: fuchsia;
    color: black;
    margin: 0 auto;
	width: 100%;
    text-align: center;
    padding: 10px;
    z-index: 9999;
}
.touch-button-size {
    min-height: 60px;
    min-width: 60px;
}

/*Media Queries*/

@media only screen and (min-device-height: $big-phone){
    .site-header {
        position: fixed;
        width: 100%;
    }
    .page-content {
        position: relative;
        padding-top: 70px;
        /*top: 70px;*/
    }
}
@media only screen and (min-device-width: $tablet){
    .hamburger:before {
        font-size: 48px;
    }
    .site-title {
        /*font-size: 2em;*/
      font-size: 5.6em;
      line-height: 0.9em;
      text-shadow: #1b81da 3px 4px;
    }
    .logo img {
        height: 90px;
    }
    .site-header {
        height: 90px;
    }
    .page-content {
        padding-top: 90px;
        padding-left: 4%;
        padding-right: 4%;
        /*top: 90px;*/
    }
}
