@import 'theme';
@import 'menu';
@import 'jslghtbx';

.pg-frame {
    width: 100%;
    height: 100%;
    background: black;
}

//HEADER

.site-header {
    height: $header-height;
    background: $bg-darkest;
    z-index: 20;
}
.site-title {
    padding-top: 4px;
    color: $gold;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    font-weight: 900;
}
.site-subtitle {
    text-align: center;
    font-size: 1em;
    margin: 0;
    color: $gold;
}
.logo {
    position: absolute;
    right: 0;
    top: 0;
}
.logo img {
    height: $header-height;
    width: auto;
}

// CONTENT

.page-content {
    width: 100%;
    max-width: 1000px;
    padding: 30px 4%;
    margin: 0 auto;
    height: 100%;
    background: $bg-darkest
}
/* set these for every generic wp-page*/
.wp-page {
    margin: 0 auto 25px;
}
.wp-page img {
    max-width: 100%;
    height: auto;
}
.header {
    position: relative;
}
.header-psa {
    position: fixed;
    top: $header-height;
    font-size: 1.5em;
    background-color: fuchsia;
    color: black;
    margin: 0 auto;
	width: 100%;
    text-align: center;
    padding: 10px;
    z-index: 9999;
}
.touch-button-size {
    min-height: 60px;
    min-width: 60px;
}

/*Media Queries*/

@media only screen and (min-device-height: $big-phone){
    .site-header {
        position: fixed;
        width: 100%;
    }
    .page-content {
        position: relative;
        top: 70px;
        padding-left: 2px;
        padding-right: 2px;
    }
}
@media only screen and (min-device-width: $tablet){
    .hamburger:before {
        font-size: 48px;
    }
    .site-title {
        font-size: 2em;
    }
    .logo img {
        height: 90px;
    }
    .site-header {
        height: 90px;
    }
    .page-content {
        top: 90px;
    }
}
