@charset "UTF-8";
/* COLORS */
/* COMMON SIZES */
/* FONT STACKS */
@font-face {
  font-family: 'AlegreyaSans';
  src: url("fonts/AlegreyaSans-Medium.woff");
}
/*$SansStack: Arial, sans-serif;*/
/* line 96, _theme.scss */
.alert {
  background-color: crimson;
  color: black;
}

/* line 100, _theme.scss */
.spinner {
  background-image: url("../img/spinner.gif");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 128px;
  min-width: 128px;
  margin: auto;
}

/* line 1, _menu.scss */
.hamburger:before {
  content: '≣';
  font-size: 34px;
  color: white;
  opacity: .4;
}

/* line 7, _menu.scss */
.jPanelMenu-panel .hamburger {
  text-align: center;
  font-size: 0.7em;
}

/* line 11, _menu.scss */
.hamburger {
  position: fixed;
  width: 90px;
  height: 90px;
  padding: 0 0 0 18px;
}

/* line 17, _menu.scss */
.menu-trigger {
  height: 80px;
  width: 90px;
  padding: 0 34px 0 0;
}

/* line 22, _menu.scss */
a.menu-trigger.hamburger:hover {
  text-decoration: none;
}

/* line 25, _menu.scss */
#panel {
  position: relative;
  top: -60px;
}

/* line 30, _menu.scss */
.jPanelMenu-panel {
  position: fixed !important;
  min-height: initial !important;
  width: auto !important;
  background: transparent !important;
}

/* line 36, _menu.scss */
#menu {
  display: none;
}

/* line 39, _menu.scss */
nav#jPanelMenu-menu {
  background: #000;
  padding-bottom: 30px;
}

/* line 43, _menu.scss */
#jPanelMenu-menu ul {
  will-change: scroll-position;
}

/* line 46, _menu.scss */
#jPanelMenu-menu .menu-item.home {
  margin-left: 90px;
}

/* line 49, _menu.scss */
#jPanelMenu-menu a {
  display: block;
  padding: 20px 4em;
  color: white;
  text-decoration: none;
  font-weight: 900;
}

/* line 56, _menu.scss */
#jPanelMenu-menu a:hover {
  color: #ea3;
}

/* line 59, _menu.scss */
li#menu-header {
  padding: 0 0 0 18px;
  position: fixed;
}

/*
#menu-header {
    font-size: 2.2em;
    line-height: 1em;
    padding: 3px 0 0 17px;
    height: 60px;
    opacity: 0.6;
    width: 100%
}
#menu-header:hover {
    background-color: inherit;
}
@media only screen and (min-device-width: $tablet){
    #menu-header {
        padding-top: 18px;
    }

}
*/
/* line 2, _jslghtbx.scss */
#jslghtbx {
  z-index: 30;
  padding-top: 10px !important;
}

/* line 6, _jslghtbx.scss */
#jslghtbx img {
  margin-top: 0 !important;
  max-width: 100%;
  height: auto;
}

/* line 15, _jslghtbx.scss */
.jslghtbx-contentwrapper {
  background-color: #000;
  position: absolute;
  width: 100%;
}

/* line 20, _jslghtbx.scss */
.jslghtbx-contentwrapper img {
  max-height: 670px !important;
}

/* line 23, _jslghtbx.scss */
.jslghtbx-caption {
  text-align: left !important;
  padding: 5px;
  margin-bottom: 30px !important;
  color: lightslategray !important;
}

/* line 29, _jslghtbx.scss */
.jslghtbx-caption a {
  display: block;
  padding: 20px 7%;
  font-size: 1em;
}

/* line 34, _jslghtbx.scss */
.jslghtbx-caption .band-list ul a {
  font-size: large;
}

/* line 37, _jslghtbx.scss */
.jslghtbx-caption .band-list ul a:hover {
  background-color: #4d7fc7;
  opacity: .5;
}

/* line 41, _jslghtbx.scss */
.jslghtbx-caption img {
  padding: 4px;
}

/* line 44, _jslghtbx.scss */
.jslghtbx-close {
  font-size: 3em !important;
  font-weight: 600;
  text-shadow: 2px 3px 3px black !important;
}

/* line 49, _jslghtbx.scss */
.jslghtbx.jslghtbx-active {
  background-color: black !important;
}

/* line 52, _jslghtbx.scss */
.jslghtbx-loading-animation > span:nth-child(1) {
  background-color: magenta !important;
}

/* line 55, _jslghtbx.scss */
.jslghtbx-loading-animation > span:nth-child(2) {
  background-color: lime !important;
}

/* line 58, _jslghtbx.scss */
.jslghtbx-loading-animation > span:nth-child(3) {
  background-color: #1fb0f5 !important;
}

/* line 61, _jslghtbx.scss */
.jslghtbx-loading-animation > span:nth-child(4) {
  background-color: gold !important;
}

/* line 64, _jslghtbx.scss */
.jslghtbx-loading-animation > span:nth-child(5) {
  background-color: royalblue !important;
}

/* line 67, _jslghtbx.scss */
.jslghtbx-loading-animation > span:nth-child(6) {
  background-color: red !important;
}

/* line 70, _jslghtbx.scss */
.jslghtbx-loading-animation > span:nth-child(7) {
  background-color: yellow !important;
}

@media only screen and (min-device-height: 768px) and (orientation: portrait) {
  /* line 74, _jslghtbx.scss */
  #jslghtbx {
    padding-top: 10px !important;
  }

  /* line 77, _jslghtbx.scss */
  .jslghtbx-contentwrapper img {
    max-height: 921.6px !important;
  }
}
@media only screen and (min-device-height: 1024px) {
  /* line 82, _jslghtbx.scss */
  #jslghtbx {
    padding-top: 10px !important;
  }
}
/*
@media only screen and (min-device-width: 960px) and (orientation: landscape) {
    #jslghtbx img:nth-child(1) {
        margin: 0 46% 0 auto;
        max-width: 52% !important;
    }
    #jslghtbx .links img {
        margin: 0;
    }
    .jslghtbx-caption {
        position: absolute;
        top: 10%;
        left: 60%;
        width: 37% !important;
    }
}
*/
/* line 5, layout.scss */
.pg-frame {
  width: 100%;
  height: 100%;
  background: black;
}

/* line 13, layout.scss */
.site-header {
  height: 60px;
  background: url("../../_/img/patio-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 20;
  border-bottom: 6px #600 solid;
}

/* line 21, layout.scss */
.site-title {
  padding-top: 4px;
  margin: auto;
  text-align: center;
  /*font-size: 1.5em;*/
  font-size: 3em;
  line-height: 1em;
  font-weight: 900;
  color: #000;
  text-shadow: #1570bf 2px 3px;
}

/* line 33, layout.scss */
.site-subtitle {
  display: none;
  text-align: center;
  font-size: 1em;
  margin: 0;
  font-weight: 100;
  color: #4c95e6;
}

/* line 41, layout.scss */
.logo {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 46, layout.scss */
.logo img {
  height: 60px;
  width: auto;
}

/* line 53, layout.scss */
.page-content {
  width: 100%;
  max-width: 1000px;
  padding: 0px 2px;
  margin: 0 auto;
  height: 100%;
  background: #000;
}

/* set these for every generic wp-page*/
/* line 62, layout.scss */
.wp-page {
  margin: 25px auto;
}

/* line 65, layout.scss */
.wp-page img {
  max-width: 100%;
  height: auto;
}

/* line 69, layout.scss */
.header {
  position: relative;
}

/* line 72, layout.scss */
.header-psa {
  position: fixed;
  top: 60px;
  font-size: 1.5em;
  background-color: fuchsia;
  color: black;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 10px;
  z-index: 9999;
}

/* line 84, layout.scss */
.touch-button-size {
  min-height: 60px;
  min-width: 60px;
}

/*Media Queries*/
@media only screen and (min-device-height: 640px) {
  /* line 92, layout.scss */
  .site-header {
    position: fixed;
    width: 100%;
  }

  /* line 96, layout.scss */
  .page-content {
    position: relative;
    padding-top: 70px;
    /*top: 70px;*/
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 103, layout.scss */
  .hamburger:before {
    font-size: 48px;
  }

  /* line 106, layout.scss */
  .site-title {
    /*font-size: 2em;*/
    font-size: 5.6em;
    line-height: 0.9em;
    text-shadow: #1b81da 3px 4px;
  }

  /* line 112, layout.scss */
  .logo img {
    height: 90px;
  }

  /* line 115, layout.scss */
  .site-header {
    height: 90px;
  }

  /* line 118, layout.scss */
  .page-content {
    padding-top: 90px;
    padding-left: 4%;
    padding-right: 4%;
    /*top: 90px;*/
  }
}
