@import 'theme';
@import 'wp-style';

/******************************************************
* MAIN.SCSS
*	Main site element styles go in this file.
*	Iclude styles for primary elements that are
*	used site wide (a, h1, p, body, etc).
\******************************************************/

.fixed {
    position: fixed;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: $bg-darkest;
}
body {
	@include Body;
    top: 0;
    bottom: -90px;
    color: $white;

}
p {
    margin: 15px 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
/* a:after {
    content: ' ⧁ ';
    font-weight: 900;
    font-size: 1.4em;
    color: #99f;
} */
hr {
    margin: auto;
    padding: 0;
    width: 100%;
    border-width: 2px;
    border-color: $bg-dark;
}
/*//FIXX ••• can I @import _**/
@import 'home';
@import 'calendar';
@import 'staff';
