@charset "UTF-8";
/* COLORS */
/* COMMON SIZES */
/* FONT STACKS */
/* line 87, _theme.scss */
.alert {
  background-color: crimson;
  color: black;
}

/* line 91, _theme.scss */
.spinner {
  background-image: url("../img/spinner.gif");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 128px;
  min-width: 128px;
  margin: auto;
}

/****************
 * Taken from stock WP theme to account for
 * options in WYSIWYG editor
****************/
/* line 6, wp-style.scss */
.alignleft {
  display: inline;
  float: left;
  margin: 0 4px 0 0 !important;
}

/* line 12, wp-style.scss */
.alignright {
  display: inline;
  float: right;
  margin: 0 0 4px 0 !important;
}

/* line 18, wp-style.scss */
.aligncenter {
  display: block;
  margin: 0 auto !important;
}

/* line 23, wp-style.scss */
.hide-this {
  display: none;
}

/******************************************************
* MAIN.SCSS
*	Main site element styles go in this file.
*	Iclude styles for primary elements that are
*	used site wide (a, h1, p, body, etc).
\******************************************************/
/* line 11, main.scss */
.fixed {
  position: fixed;
}

/* line 15, main.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 21, main.scss */
html {
  background-color: #000;
}

/* line 24, main.scss */
body {
  color: #d0e9ff;
  background-color: #000;
  font-family: Arial, sans-serif;
  font-weight: normal;
  position: absolute;
  top: 0;
  bottom: -60px;
  color: #d0e9ff;
}

/* line 32, main.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0 auto;
}

/* line 35, main.scss */
li {
  list-style: none;
}

/* line 38, main.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 42, main.scss */
a:hover {
  text-decoration: underline;
}

/* a:after {
    content: ' ⧁ ';
    font-weight: 900;
    font-size: 1.4em;
    color: #99f;
} */
/* line 51, main.scss */
hr {
  margin: auto;
  padding: 0;
  width: 100%;
  border-width: 2px;
  border-color: #102542;
}

/* imports */
/* COLORS */
/* COMMON SIZES */
/* FONT STACKS */
/* line 87, _theme.scss */
.alert {
  background-color: crimson;
  color: black;
}

/* line 91, _theme.scss */
.spinner {
  background-image: url("../img/spinner.gif");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 128px;
  min-width: 128px;
  margin: auto;
}

/* line 4, home.scss */
#home iframe {
  display: none;
}

/* line 7, home.scss */
#home .pages {
  display: none;
}

/* line 10, home.scss */
#home .poster-img {
  display: block;
  margin: 0 auto 50px;
}

/* line 14, home.scss */
#home .top-message {
  font-size: 1.1rem;
  color: skyblue;
  font-weight: 100;
  margin: 0 auto;
  padding-bottom: 2px;
}

/* line 21, home.scss */
#home .scrollbox {
  width: 100%;
  height: 100%;
}

/* line 25, home.scss */
#home .scroller {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 650px;
  margin: 0 auto;
  will-change: scroll-position;
}

/* line 32, home.scss */
hr {
  border-color: #275392;
}

/*News*/
/* line 37, home.scss */
.news {
  background-color: #000;
}

/* line 40, home.scss */
.news .content {
  margin-bottom: 18px;
}

/* line 43, home.scss */
.news .content p {
  margin-bottom: 18px;
  font-size: smaller;
}

/* line 47, home.scss */
.news .item {
  color: #d0e9ff;
  background-color: #000;
  padding: 10px 5px;
}

/* line 52, home.scss */
.news .item img {
  display: inline;
  float: right;
  padding: 26px 2% 4px 2%;
}

/*New Day*/
/* line 59, home.scss */
.new-day {
  -webkit-flex: 1 0 40px;
      -ms-flex: 1 0 40px;
          flex: 1 0 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding: 10px 0 0 4px;
  background-color: #000;
  background-image: linear-gradient(#082032, #000);
  color: #275392;
}

/* line 70, home.scss */
.new-day .day {
  -webkit-flex: 1 0 20px;
      -ms-flex: 1 0 20px;
          flex: 1 0 20px;
  font-size: 1em;
  font-weight: 600;
  line-height: 1em;
}

/* line 76, home.scss */
.new-day .date {
  -webkit-flex: 0 1 15px;
      -ms-flex: 0 1 15px;
          flex: 0 1 15px;
  padding-right: 10px;
  font-size: .7em;
  font-weight: 600;
  text-shadow: #200 2px 1px;
  line-height: .7em;
}

/*Events*/
/* line 86, home.scss */
.event .info {
  position: absolute;
  right: 3px;
  bottom: 0;
  padding: 0 0 0 12px;
  font-size: 1em;
  text-align: right;
  color: #d0e9ff;
  opacity: .7;
}

/* line 96, home.scss */
.event .item {
  -webkit-flex: 0 0 90px;
      -ms-flex: 0 0 90px;
          flex: 0 0 90px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-y: hidden;
  background-color: #000;
  border-top: black solid 2px;
  /*color: $text-light;*/
  color: #ecdfda;
  overflow: hidden;
  height: 90px;
}

/* line 108, home.scss */
.event .thumbnail {
  -webkit-flex: 0 0 90px;
      -ms-flex: 0 0 90px;
          flex: 0 0 90px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1b2127;
}

/* line 114, home.scss */
.event .thumbnail img {
  display: block;
  width: 90px;
  height: auto;
  opacity: .7;
}

/* line 120, home.scss */
.event .content {
  -webkit-flex: 1 1 0%;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  position: relative;
  font-size: .8em;
  padding: 0 2%;
  background-image: linear-gradient(#000, #082032);
}

/* line 127, home.scss */
span.label {
  font-size: smaller;
  color: deepskyblue;
}

/* line 131, home.scss */
.event .content h3 {
  font-size: 1.1em;
  color: deepskyblue;
}

/* line 135, home.scss */
.event .content h4 {
  font-size: smaller;
  color: yellowgreen;
}

/* line 139, home.scss */
.event .content li {
  line-height: 1em;
}

/* line 142, home.scss */
.event-details {
  color: deeppink;
}

/* line 145, home.scss */
.event-url {
  font-weight: 600;
  padding: 25px 0;
  display: block;
}

/* line 150, home.scss */
.who, .band-list {
  font-size: .9em;
  padding-top: 7px;
}

/* line 154, home.scss */
.band-list li, .band-list a {
  color: #ef5eef;
}

/* line 157, home.scss */
.promoter, .promoter a {
  color: mediumslateblue !important;
}

/* line 160, home.scss */
.more {
  color: aqua;
}

/*.event .title {*/
/*text-align: center;*/
/*font-weight: 600;*/
/*font-size: 1.1em;*/
/*line-height: .9em;*/
/*padding-top: 2px;*/
/*}*/
/* line 170, home.scss */
span.host:nth-child(1) {
  color: magenta;
}

/* line 173, home.scss */
span.host:nth-child(2) {
  color: lightsalmon;
}

/* line 176, home.scss */
span.host:nth-child(3) {
  color: limegreen;
}

/* line 179, home.scss */
span.host:nth-child(4) {
  color: mediumpurple;
}

/*Media Queries*/
@media only screen and (min-device-width: 768px) {
  /* line 186, home.scss */
  .news .postcard h3 {
    font-size: 1em;
  }

  /* line 189, home.scss */
  .news .content {
    width: 80%;
    margin: 0 auto;
  }

  /* line 193, home.scss */
  .event .item {
    height: 120px;
  }

  /* line 196, home.scss */
  .event .thumbnail img {
    width: 120px;
  }

  /* line 199, home.scss */
  .event .content h3 {
    font-size: 1.5em;
  }

  /* line 202, home.scss */
  .event .content li {
    font-size: 1.2em;
  }

  /* line 206, home.scss */
  .who, .band-list {
    padding-left: 5%;
    font-size: 1em;
  }
}
@media only screen and (min-device-width: 768px) and (orientation: landscape) {
  /* line 212, home.scss */
  #home iframe {
    display: block;
  }

  /* line 215, home.scss */
  #home .pages {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex: 0 0 59%;
        -ms-flex: 0 0 59%;
            flex: 0 0 59%;
    padding: 3%;
    opacity: 0.88;
    background: #000;
  }

  /* line 223, home.scss */
  #home .page {
    -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    margin: 0 auto;
  }

  /* line 227, home.scss */
  #home .scrollbox {
    -webkit-flex: 1 1 420px;
        -ms-flex: 1 1 420px;
            flex: 1 1 420px;
    padding-top: 0;
    overflow-y: auto;
  }

  /* line 232, home.scss */
  .news .content {
    width: 100% !important;
  }
}
@media only screen and (min-device-width: 768px) and (orientation: landscape) {
  /* line 237, home.scss */
  #home.pg-frame {
    background-color: transparent;
    background-image: url("/wp/wp-content/uploads/2016/07/logo.svg");
    background-position-x: 10%;
    background-position-y: 70%;
    background-size: 49%;
    background-repeat: no-repeat;
  }

  /* line 245, home.scss */
  #home.page-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
    position: fixed;
  }
}
/*
@media only screen and (min-device-height: $tablet) {
    #home .post {
        flex: 1 0 120px;
    }
}
@media only screen and (min-device-height: $big-phone) and (orientation: portrait){
    #home .scrollbox {
        overflow-y: auto;
    }
    .event-title {
        line-height: 1.1em;
        padding-top: 4px;
        padding-bottom: 4px;
    }
}
@media only screen and (min-device-width: $big-phone){
    #home .post-thumbnail img {
        max-width: 120px;
    }
    .event-item {
        height: 120px;
    }
}
@media only screen and (max-device-width: $big-phone){
    #home .jslghtbx-caption iframe {
        width: 340px !important;
        height: 565px !important;
        margin: 0 auto;
        position: relative;
        left: -17px;
    }
}
@media only screen and (min-device-height: $big-phone) and (orientation: portrait){
    #home .top-message {
        padding: 20px 0;
    }
}

*/
/* line 294, home.scss */
.social-buttons {
  position: absolute;
  min-width: 222px;
  padding-top: 5px;
}

/* line 299, home.scss */
.facebook-button, .twitter-button, .tumblr-button {
  display: inline-block;
  overflow: hidden;
  min-width: 60px;
  height: 60px;
  vertical-align: bottom;
  text-align: center;
}

/* line 307, home.scss */
.facebook-button {
  margin: -2px 4px 0 4px;
}

/* line 310, home.scss */
.twitter-button {
  margin: 0 4px;
}

/* line 313, home.scss */
.tumblr-button {
  margin: 0 4px;
}

/* line 1, calendar.scss */
#Calendar .calendar img {
  max-width: 100%;
}

/* COLORS */
/* COMMON SIZES */
/* FONT STACKS */
/* line 87, _theme.scss */
.alert {
  background-color: crimson;
  color: black;
}

/* line 91, _theme.scss */
.spinner {
  background-image: url("../img/spinner.gif");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 128px;
  min-width: 128px;
  margin: auto;
}

/* line 3, staff.scss */
#staff .scrollbox {
  width: 100%;
  height: 100%;
}

/* line 7, staff.scss */
#staff .scroller {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  max-width: 650px;
  margin: 0 auto;
  padding-bottom: 90px;
}

/* line 15, staff.scss */
.staff-box {
  background-color: #000;
}

/* line 18, staff.scss */
.staff-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  color: #d0e9ff;
  background-color: #000;
  padding: 10px 5px;
}

/* line 25, staff.scss */
.staff-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
}

/* line 29, staff.scss */
#staff .post-thumbnail {
  -webkit-flex: 0 1 40%;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  height: 120px;
  overflow-y: hidden;
}

/* line 34, staff.scss */
#staff .post-thumbnail img {
  height: auto;
  width: 100%;
}

/* line 38, staff.scss */
.staff-profile {
  -webkit-flex: 1 0 50%;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding: 0 2px;
}

/* line 42, staff.scss */
.staff-details {
  font-size: .9em;
  text-align: right;
}

@media only screen and (min-device-width: 640px) {
  /* line 47, staff.scss */
  #staff .post-thumbnail img {
    max-width: 120px;
  }
}
@media only screen and (min-device-height: 640px) and (orientation: portrait) {
  /* line 52, staff.scss */
  #staff .scrollbox {
    overflow-y: auto;
  }
}
@media only screen and (min-device-height: 768px) {
  /* line 57, staff.scss */
  #staff .post {
    -webkit-flex: 0 1 240px;
        -ms-flex: 0 1 240px;
            flex: 0 1 240px;
  }
}
@media only screen and (min-device-width: 768px) and (orientation: landscape) {
  /* line 62, staff.scss */
  #staff .scrollbox {
    -webkit-flex: 1 1 420px;
        -ms-flex: 1 1 420px;
            flex: 1 1 420px;
    padding-top: 0;
    overflow-y: auto;
  }
}
