@import 'theme';
@import 'wp-style';

/******************************************************
* MAIN.SCSS
*	Main site element styles go in this file.
*	Iclude styles for primary elements that are
*	used site wide (a, h1, p, body, etc).
\******************************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: $bg-darkest;
}
body {
	@include Body;
    position: absolute;
    top: 0;
    bottom: -60px;

}
h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
}
li {
    list-style: none;
}
a {
    @include Links;
    font-weight: 300;
    text-decoration: none;
}
a:hover {
    font-weight: 400;
}
/* a:after {
    content: ' ⧁ ';
    font-weight: 900;
    font-size: 1.4em;
    color: #99f;
} */
hr {
    margin: auto;
    padding: 0;
    width: 100%;
    border-width: 2px;
    border-color: $bg-dark;
}

@import 'home';
@import 'calendar';
@import 'staff';
